.sideBar{
    position: relative;
    height: 100%;
    background: #d3d3d3;
    grid-area: sideBar;
}

.sidebar-items ul{
    list-style: none;
    padding-right: 25px; 
    font-size: 20px;
    margin-top: 150px;
}

.sidebar-items li {
    padding: 1.5rem;
}

.sidebar-items a{
    color: black;
    text-decoration: none;
}

.sidebar-items a:hover,
.sidebar-items a:active{
    color: #a9a9a9;
}

@media(max-width: 600px) {

    .sideBar {
        position: fixed;
    }
    .sidebar-items{
        display: none;
    }
    /* .sideBar {
        width: 40px;
    } */
}

@media(min-width: 601px){
    .sidebar-Toggle-Button{
        display: none;
    } 
}