.sidebar{
    position: fixed;
    padding: 10px;;
    height: 100%;
    background: #d3d3d3;
}

.sidebar-nav{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.sidebar-items ul{
    list-style: none;
    padding-right: 25px;
    font-size: 20px;
}

.sidebar-items li{
    padding: 0.5rem;
}

.sidebar-items a{
    color: black;
    text-decoration: none;
}

.sidebar-items a:hover,
.sidebar-items a:active{
    color: #a9a9a9;
}

@media(max-width: 600px) {
    .sidebar-items{
        display: none;
    }
}

@media(min-width: 601px){
    .sidebar-Toggle-Button{
        display: none;
    }
}