#skills {
    height: 100vh;
}

.skills-row {
    display: flex;
    flex-direction: row;
	width: 100%;
	margin-top: 50px;
	justify-content: center;
}

.skill-item {
    padding: 50px;
    width: 15%;
}