.project-sec {
    display: flex;
    padding: 20px;
}

.proj-item {
    text-align: center;
    border-radius: 5px;
    flex: 1;
    height: 30vh;
    padding: 10px;
    margin: 0 30px;
    margin-bottom: 30px;
    background-color: blue;
}

.project-image {
    width: 10%;
}